In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

### Read file

In [2]:
!ls

Append_new_cases.ipynb Tabular data           dengue_tabular_v2.csv
README.md              add_poverty.ipynb

In [3]:
# Get poverty.zip from: https://geoportal.dane.gov.co/visipm/
df = gpd.read_file('Tabular data/poverty.zip')
df

,COD_DPTO,COD_MPIO,COD_DANE,CATEGORIA,LABEL,ipm,embarazo_a,reactivaci,geometry
0,05,05001,0500110000000001010101,5.0,Vulnerabilidad baja,39.4,Vulnerabilidad media-alta,elegibilidad media-baja,"POLYGON ((-75.54267 6.30182, -75.54262 6.30175..."
1,05,05001,0500110000000001010104,5.0,Vulnerabilidad baja,25.9,Vulnerabilidad media-alta,elegibilidad media,"POLYGON ((-75.54237 6.29968, -75.54235 6.29965..."
2,05,05001,0500110000000001010105,2.0,Vulnerabilidad media-baja,14.1,Vulnerabilidad media-baja,elegibilidad media,"POLYGON ((-75.54280 6.29964, -75.54277 6.29959..."
3,05,05001,0500110000000001010108,2.0,Vulnerabilidad media-baja,26.8,Vulnerabilidad media-baja,elegibilidad media,"POLYGON ((-75.54386 6.29974, -75.54386 6.29975..."
4,05,05001,0500110000000001010110,5.0,Vulnerabilidad baja,42.2,Vulnerabilidad baja,elegibilidad media-baja,"POLYGON ((-75.54369 6.30214, -75.54369 6.30213..."
...,...,...,...,...,...,...,...,...,...
504991,99,99773,9977320030102700010102,0.0,None,0.0,None,None,"POLYGON ((-69.85155 4.33427, -69.85149 4.33427..."
504992,99,99773,9977320030102700010103,0.0,None,0.0,None,None,"POLYGON ((-69.85227 4.33365, -69.85257 4.33370..."
504993,99,99773,9977320030102700010104,0.0,None,0.0,None,None,"POLYGON ((-69.85276 4.33338, -69.85274 4.33360..."
504994,99,99773,9977320030102700010105,0.0,None,0.0,None,None,"POLYGON ((-69.85313 4.33348, -69.85311 4.33368..."
504995,99,99773,9977320030102700010106,0.0,None,0.0,None,None,"POLYGON ((-69.85425 4.33397, -69.85410 4.33396..."

In [4]:
df = df[['COD_MPIO', 'ipm', 'LABEL']]

df = df[~df.LABEL.isna()]

df

       COD_MPIO         ipm                      LABEL
0         05001   39.400000        Vulnerabilidad baja
1         05001   25.900000        Vulnerabilidad baja
2         05001   14.100000  Vulnerabilidad media-baja
3         05001   26.800000  Vulnerabilidad media-baja
4         05001   42.200000        Vulnerabilidad baja
...         ...         ...                        ...
502770    99773   41.666667        Vulnerabilidad baja
502771    99773  100.000000        Vulnerabilidad baja
502772    99773    0.000000        Vulnerabilidad baja
502773    99773    0.000000        Vulnerabilidad baja
502774    99773    0.000000        Vulnerabilidad baja

[407277 rows x 3 columns]

In [5]:
poverty = df.groupby('COD_MPIO').agg({'ipm': 'mean'}).reset_index()
poverty.rename(columns={'ipm': 'poverty', 'COD_MPIO': 'Municipality code'}, inplace=True)
poverty['Municipality code'] = poverty['Municipality code'].astype(int)
poverty

      Municipality code    poverty
0                  5001  13.749178
1                  5002  21.079347
2                  5004  10.824533
3                  5021  16.318095
4                  5030  16.145102
...                 ...        ...
1097              97666  40.898330
1098              99001  38.905182
1099              99524  44.135941
1100              99624  45.945621
1101              99773  40.642148

[1102 rows x 2 columns]

In [6]:
dengue = pd.read_csv('Tabular data/dengue_tabular.csv')
dengue

,Municipality code,Municipality,Population2007,Population2008,Population2009,Population2010,Population2011,Population2012,Population2013,Population2014,...,2022/w40,2022/w41,2022/w42,2022/w43,2022/w44,2022/w45,2022/w46,2022/w47,2022/w48,2022/w49
0,5001,MedellÃ­n,2286126,2309689,2331389,2353410,2379920,2410046,2428850,2436071,...,8.0,4.0,8.0,6.0,7.0,5.0,10.0,7.0,1.0,0.0
1,5002,Abejorral,20643,20944,21197,21355,20973,20067,19732,19796,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5004,AbriaquÃ­,2261,2290,2321,2353,2386,2424,2471,2488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5021,AlejandrÃ­a,3935,4020,4096,4171,4244,4337,4419,4467,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5030,AmagÃ¡,27996,28331,28624,28839,28776,28371,28259,28432,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,97889,YavaratÃ©,555,693,841,1003,1164,1275,1349,1334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1117,99001,Puerto CarreÃ±o,13742,14559,15346,16124,16934,17773,18635,19519,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1118,99524,La Primavera,5190,5784,6365,6920,7496,8034,8617,9166,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1119,99624,Santa RosalÃ­a,3167,3378,3586,3846,4067,4325,4535,4635,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1120,99773,Cumaribo,24342,26882,29648,32594,35746,39128,42784,46893,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

## Merge files

In [7]:
dengue = pd.merge(dengue, poverty, on='Municipality code', how='left')
dengue

,Municipality code,Municipality,Population2007,Population2008,Population2009,Population2010,Population2011,Population2012,Population2013,Population2014,...,2022/w41,2022/w42,2022/w43,2022/w44,2022/w45,2022/w46,2022/w47,2022/w48,2022/w49,poverty
0,5001,MedellÃ­n,2286126,2309689,2331389,2353410,2379920,2410046,2428850,2436071,...,4.0,8.0,6.0,7.0,5.0,10.0,7.0,1.0,0.0,13.749178
1,5002,Abejorral,20643,20944,21197,21355,20973,20067,19732,19796,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.079347
2,5004,AbriaquÃ­,2261,2290,2321,2353,2386,2424,2471,2488,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.824533
3,5021,AlejandrÃ­a,3935,4020,4096,4171,4244,4337,4419,4467,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.318095
4,5030,AmagÃ¡,27996,28331,28624,28839,28776,28371,28259,28432,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.145102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,97889,YavaratÃ©,555,693,841,1003,1164,1275,1349,1334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1117,99001,Puerto CarreÃ±o,13742,14559,15346,16124,16934,17773,18635,19519,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,38.905182
1118,99524,La Primavera,5190,5784,6365,6920,7496,8034,8617,9166,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,44.135941
1119,99624,Santa RosalÃ­a,3167,3378,3586,3846,4067,4325,4535,4635,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,45.945621
1120,99773,Cumaribo,24342,26882,29648,32594,35746,39128,42784,46893,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,40.642148

In [8]:
dengue.to_csv('dengue_tabular_v2.csv', index=False)